.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 200px;
  flex-wrap: wrap;
}

#appContainer {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  font-family: Raleway, sans-serif;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  max-width: 30%;
  margin: 0 30px 0 0;
}

ul {
  list-style-type: none;
}

.search {
  margin: 0 0 30px 0;
}

#button {
  border-radius: 15px;
  background-color: plum;
  border: solid plum 2px;
  padding: 3px 5px;
  margin: 3px;
}

#userLocation {
  border-radius: 15px;
  border: solid black 2px;
  padding: 3px 5px;
}

h1 {
  font-family: Lobster, serif;
  font-size: 64px;
  line-height: 32px;
}
