.a {
  text-decoration: underline;
}

#appContainer {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 25px;
  padding: 20px;
  font-family: Raleway, sans-serif;
}

#button {
  border-radius: 15px;
  background-color: #93dcec;
  border: solid #93dcec 2px;
  padding: 3px 5px;
  margin: 3px;
  font-family: Raleway, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 200px;
  flex-wrap: wrap;
  color: #4c727a;
}

.forecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.forecastDay {
  margin: 10px;
}

h1 {
  font-family: Lobster, serif;
  font-size: 64px;
  line-height: 12px;
  color: #4c727a;
}

img {
  max-width: 40%;
  margin: 0 30px 0 0;
}

input {
  color: #4c727a;
}

.search {
  margin: 0 0 30px 0;
  color: #4c727a;
}

.signature {
  font-style: italic;
  color: #4c727a;
}

ul {
  list-style-type: none;
  color: #4c727a;
  line-height: 32px;
}

#userLocation {
  border-radius: 15px;
  border: solid #4c727a 2px;
  padding: 3px 5px;
  color: #4c727a;
  font-family: Raleway, sans-serif;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.weatherDescription {
  text-transform: capitalize;
}

#weatherIcon {
  max-height: 32px;
  max-width: 32px;
}
